<h3 class="mb-4">Why not give us a try?</h3>
<p class="font-bold">Schedule a conversation or demo with one of our solution experts</p>
<p>Friendly advice, highly experienced no sales pressure, just a conversation</p>
<p class="my-4">Call <a class="text-xl font-bold hover:text-purple" href="tel:{{ contact.telephone }}">{{ contact.telephone }}</a></p>
<p>We know you are busy - send an email with any other helpful information to</p>
<a class="font-bold text-orange hover:text-purple" href="mailto:{{ contact.email }}">{{ contact.email }}</a>