{% extends "./_layouts/main.njk" %}

{% block main %}
   <section class="container">
       <h2 class="text-purple uppercase text-center hidden md:block mb-4">New Elevenwind Site</h2>
   </section>
{% endblock %}
